
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  
}
  .text-primary{
    color:orangered;
  }
/* nav style */
nav{
    display:flex;
}
.nav-title{
    font-weight:bolder;
    font-size: 45px;

}